.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aqua;
}